In [1]:
import pandas as pd 
answers = pd.read_csv("DB/Answers.csv", sep=",",low_memory = False ,encoding='latin-1')

# shows top 10 rows
answers.head(10)

# do something

,,,,sep=,Unnamed: 1
Id,OwnerUserId,CreationDate,ParentId,Score,Body
92,61,2008-08-01T14:45:37Z,90,13,"<p><a href=""http://svnbook.red-bean.com/"">Vers..."
124,26,2008-08-01T16:09:47Z,80,12,<p>I wound up using this. It is a kind of a ha...
199,50,2008-08-01T19:36:46Z,180,1,<p>I've read somewhere the human eye can't dis...
269,91,2008-08-01T23:49:57Z,260,4,"<p>Yes, I thought about that, but I soon figur..."
307,49,2008-08-02T01:49:46Z,260,28,"<p><a href=""http://www.codeproject.com/Article..."
332,59,2008-08-02T03:00:24Z,330,19,<p>I would be a bit reluctant to use nested cl...
344,100,2008-08-02T04:18:15Z,260,6,<p>You might be able to use IronRuby for that....
359,119,2008-08-02T06:16:23Z,260,5,"<P>You could use any of the DLR languages, whi..."
473,49,2008-08-02T15:33:13Z,470,8,"<p>No, what you're doing is fine. Don't let th..."

In [2]:
tags = pd.read_csv("DB/Tags.csv", sep=";", low_memory = False)

tags = tags.groupby('Id').agg(lambda x: x.tolist())
tags.head(10)

                                                   Tag
Id
80                         [flex, actionscript-3, air]
90   [svn, tortoisesvn, branch, branching-and-merging]
120                            [sql, asp.net, sitemap]
180  [algorithm, language-agnostic, colors, color-s...
260       [c#, .net, scripting, compiler-construction]
330                    [c++, oop, class, nested-class]
470                               [.net, web-services]
580  [sql-server, sql-server-2005, deployment, rele...
650                    [c#, visual-studio, versioning]
810   [windows, visual-studio, registry, installation]

In [5]:
questions = pd.read_csv("DB/Questions.csv", sep=",", low_memory = False, encoding='latin-1')
questions.head(10)

,,,,,sep=,Unnamed: 1
Id,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body
80,26,2008-08-01T13:57:07Z,NaN,26,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...
90,58,2008-08-01T14:41:24Z,2012-12-26T03:45:49Z,144,Good branching and merging tutorials for Torto...,<p>Are there any really good tutorials explain...
120,83,2008-08-01T15:50:08Z,NaN,21,ASP.NET Site Maps,<p>Has anyone got experience creating <strong>...
180,2089740,2008-08-01T18:42:19Z,NaN,53,Function for creating color wheels,<p>This is something I've pseudo-solved many t...
260,91,2008-08-01T23:22:08Z,NaN,49,Adding scripting functionality to .NET applica...,<p>I have a little game written in C#. It uses...
330,63,2008-08-02T02:51:36Z,NaN,29,Should I use nested classes in this case?,<p>I am working on a collection of classes use...
470,71,2008-08-02T15:11:47Z,2016-03-26T05:23:29Z,13,Homegrown consumption of web services,<p>I've been writing a few web services for a ...
580,91,2008-08-02T23:30:59Z,NaN,21,Deploying SQL Server Databases from Test to Live,<p>I wonder how you guys manage deployment of ...
650,143,2008-08-03T11:12:52Z,NaN,79,Automatically update version number,<p>I would like the version property of my app...